/* src/styles/App.css */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Allows the main content area to grow and shrink as needed */
  overflow-y: auto; /* Enables vertical scrolling */
}

footer {
  background-color: #f8f9fa; /* Adjust as needed */
  color: #212529; /* Adjust as needed */
  padding: 1rem; /* Adjust padding as needed */
  text-align: center;
}
